*{
    padding: 0;
    margin: 0;
}
#game{
    height: 500px;
    width: 75%;
    border: 2px solid black;
    margin-left: 225px;
    margin-top: 100px;
}
#player{
    height: 90px;
    width: 35px;
    background-color: red;
    position: relative;
    top: 410px;
}
@keyframes jump{
    0%{top:410px;}
    30%{top:350px}
    50%{top:350px;}
    70%{top:350px;}
    100%{top:410px;}
}
#block{
    height: 45px;
    width: 35px;
    background-color: blue;
    position: relative;
    top: 365px;
    left: 1405px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left:1405px;}
    100%{left:0px}
}
